div.journal-card {
  justify-content: flex-start;
  flex-wrap: nowrap;
  border: 0.1rem solid rgb(116, 184, 169);
  cursor: pointer;
  min-height: 10rem;
  max-height: 40vh;
  overflow: hidden;
}
.new-journal {
  margin-left: 50%;
  margin-top: 0.5rem;
}

.journal-submit {
  width: max-content;
  margin-left: 50%;
}

.journal.modal {
  justify-content: space-between;
  padding: 1rem;
  height: 60vh;
  margin-top: auto;
  overflow-y: scroll;
}
