.navbar {
  position: fixed;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  z-index: 1;
  /* background-color: rgba(0, 195, 255, 1); */
  background-color: #2c3531;
}

.navbar .logo {
  height: 3rem;
  text-transform: uppercase;
  margin: auto 1rem;
  padding: 0.1rem 1rem 0 1rem;
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: rgb(155, 181, 182);
  text-shadow: 1px 1px rgb(157, 229, 231);
  border-right: 1px solid rgb(157, 229, 231);
  /* background-color: rgba(0, 155, 255, 0.8); */
  /* background-image: linear-gradient(190deg, rgba(0, 155, 255, 0.5), white); */
}
.logo:hover {
  /* background-color: rgb(52, 132, 163); */
  transform: scale(1.05);
}
.navs ul {
  display: flex;
  /* width: 50vw; */
  height: 3rem;
  align-items: center;
}

li {
  margin-top: 0.1rem;
}

.ham {
  position: absolute;
  visibility: hidden;
}

.navs ul li Button {
  width: 8 rem;
  text-transform: uppercase;
  margin-right: 1rem;
}

.user {
  display: flex;
  position: absolute;
  right: 0;
  width: 15rem;
  justify-content: space-around;
}

.user Button {
  color: rgb(23, 24, 21);
  background-color: rgb(228, 98, 89);
}
.user Button:hover {
  background-color: rgba(66, 127, 206, 0.413);
}

/* .name {
  text-align: center;
  display: table;
} */

.name span {
  text-transform: capitalize;
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.4rem;
  font-size: larger;
}

@media only screen and (max-width: 950px) {
  .navs {
    visibility: hidden;
    /* z-index: 0;   */
  }
  .navs.active {
    visibility: visible;
    z-index: 1;
  }
  .navs ul {
    display: flex;
    position: absolute;
    right: 0;
    top: 3rem;
    width: max-content;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
    background-color: #2c3531;
    padding: 1rem 1rem;
    border-radius: 0rem 0rem 0rem 1rem;
  }
  .user {
    position: relative;
  }
  .navs ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .navs ul li Button {
    width: 10rem;
    text-transform: uppercase;
    margin-right: 0;
  }
  .user {
    display: flex;
    flex-direction: column;
    width: max-content;
    /* align-items: center; */
  }
  .ham {
    position: absolute;
    right: 0;
    top: 0;
    visibility: visible;
    z-index: 10;
    /* display: flex; */
  }
  .ham img {
    min-width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    padding: 0 0.1rem;
    /* margin-right: 0.2rem;
    margin-top: 0.2rem; */
    margin: 0.2rem;
    right: 0;
    /* background-color: rgba(0, 204, 255, 0.74); */
    filter: invert();
    border-radius: 20%;
  }
}
