.navbar {
  position: fixed;
  width: 100%;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  /* background-color: rgba(0, 195, 255, 1); */
  background-color: #2c3531;
}

.navbar .logo {
  height: 3rem;
  text-transform: uppercase;
  /* margin-left: 1rem; */
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.1rem 1rem 0 1rem;
  /* padding-top: 0.1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem; */
  font-weight: 600;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: gold;
  text-shadow: 1px 1px rgb(255, 0, 0);
  /* background-color: rgba(0, 155, 255, 0.8); */
  /* background-image: linear-gradient(190deg, rgba(0, 155, 255, 0.5), white); */
}
.logo:hover {
  background-color: rgb(0, 119, 255);
}
.navs ul {
  display: flex;
  width: 50vw;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgba(0, 155, 255, 0.8); */
}

li {
  margin-top: 0.1rem;
}

.ham {
  visibility: hidden;
}

.navs ul li Button {
  width: 8 rem;
  /* background-color: rgb(0, 140, 255); */
  text-transform: uppercase;
}

.user {
  display: flex;
  width: 15rem;
  justify-content: space-around;
}

/* .name {
  text-align: center;
  display: table;
} */

.name span {
  text-transform: capitalize;
  display: table-cell;
  vertical-align: middle;
  padding: 0 0.4rem;
  font-size: larger;
}

@media only screen and (max-width: 950px) {
  .navs {
    visibility: hidden;
    /* z-index: 0;   */
  }
  .navs.active {
    visibility: visible;
    z-index: 1;
  }
  .navs ul {
    width: max-content;
    height: max-content;
    flex-direction: column;
    align-items: flex-start;
    align-items: stretch;
    margin: 3rem 0;
    background-color: rgba(0, 155, 255, 0.8);
    /* padding-right: 1rem; */
  }
  .navs ul li {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .navs ul li Button {
    width: 10rem;
    text-transform: uppercase;
  }
  .user {
    display: flex;
    flex-direction: column;
    width: max-content;
    /* align-items: center; */
  }
  .ham {
    visibility: visible;
    z-index: 10;
    display: flex;
  }
  .ham img {
    min-width: 2.8rem;
    height: 3rem;
    position: absolute;
    padding: 0 0.1rem;
    /* margin-right: 0.2rem;
    margin-top: 0.2rem; */
    margin: 0.2rem;
    right: 0;
    background-color: rgba(0, 204, 255, 0.74);
    border-radius: 20%;
  }
}
